*{
    font-family: serif;
    margin: 0%;
    cursor: pointer;
}
body{
    animation: transitionIn 0.75s;
}
@keyframes transitionIn {
    from{
        opacity: 0;
        transform: rotateX(10deg);
    }

    to{
        opacity: 1;
        transform: rotateX(0);
    }
}
/* .header{
    color: white;
    background-color: black;
    width: 100%;
    height: 180px;
}
.header h1{
    text-align: left;
    margin-left: 60px;
    padding-top: 60px;
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
} */
/* .header h1:hover{
    margin-top: 15px;
    outline: none;
    border: ;
    border-color: ;
    border-radius: 20%;
    border-style: solid;
    transition: 2s ease;
    padding: 50px;
    display: inherit;
    
} */
/* .header .container{
    display: flex;
    width: 100%;
}
nav{
    text-align: right;
    flex: 1;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    text-align: right;
    padding-top: 80px;
    padding-right: 25px;
} */

.header{
    color: black;
    width: 100%;
}
.header .container{
    display: flex;
    width: 100%;
}
.header h1{
    margin-left: 50px;
    margin-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-style: oblique;
    border: black;
    border-bottom: 2px;
    border-top: white;
    border-right: white;
    border-left: white;
    border-style: solid;
}
.header h1:hover{
    background-color: white;
    transition: 1s ease;
    padding: 5px;
}
.header a{
    text-decoration: none;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header h3{
    flex: 1;
    text-align: right;
    margin-right: 70px;
    margin-top: 70px;
}
.header h3 a:hover{
    background-color: black;
    color: white;
    padding: 5px;
    transition: 1s ease;
}
.opening{
    display: flex;
    margin-top: 120px;
    margin-left: 100px;
    /* margin-right: 100px; */
    margin-bottom: 150px;
}
.opening h2{
    text-align: center;
    font-size: 80px;
    border: black;
    border-style: solid;
    padding: 30px;
}
.opening h2:hover{
    border-style: solid;
    border-color: black;
    transition: 0.5s ease;
    padding: 15px;
} 
.opening p{
    /* text-align: left; */
    font-size: 20px;
    margin-left: 300px;
    margin-top: 90px;
    margin-right: 300px;
    margin-bottom: 140px;
    text-align: justify;
}
.opening p:hover{
    /* color: grey; */
    font-style: oblique;
    /* transition: 1s ease; */
}
.event{
    margin-top: 100px;
    display: flex;
    margin-bottom: 100px;
}
.event img{
    margin-right: 120px;
    width: 300px;
    height: 200px;
}
.event img:hover{
    background-color: white;
    padding: 4px;
    transition: 0.5s ease;
}
/* .event img:hover{
    background-color: white;
    transition: 1s ease-out;
    padding: 20px;
} */
.event .container{
    flex: 1;
    text-align: left;
    margin-left: 100px;
    margin-top: 50px;
}
/* .event .container:hover{
    color: white;
    border-radius: 50%;
    background-color:black;
    transition: 1s ease;
    padding: 20px;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 70px;
} */
.event h2{
    font-size: 40px;
    font-style: oblique;
    font-family: serif;
} */
/* .event h2:hover{
    color: gray;
    transition: 0.5s ease;
} */
.event p{
    font-size: 15px;
}
.event a{
    margin: 10px;
    color: black;
    /* display: inherit; */
    /* text-decoration: none; */
}
.event a:hover{
    background-color: black;
    color: white;
}
.product{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}
.product img{
    margin-left: 120px;
}
.product img:hover{
    background-color: white;
    padding: 4px;
    transition: 0.5s ease;
}
/* .product img:hover{
    background-color: white;
    transition: 2s ease-out;
    padding: 20px;
} */
.product .container{
    margin-top: 50px;
    margin-left: 350px;
    margin-right: 200px;
    flex: 1;
    text-align: left;
}
/* .product .container:hover{
    color: white;
    background-color: black;
    transition: 1s ease;
    padding: 20px;
    margin-bottom: 80px;
} */
.product h2{
    font-size: 40px;
    font-weight: bold;
    font-style: oblique;
}
.product p{
    font-size: 15px;
}
.product a{
    color: black;
}
.product a:hover{
    background-color: black;
    color: white;
}
.photoshoot{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}
.photoshoot .container{
    flex: 1;
    text-align: left;
    margin-left: 200px;
    margin-right: 280px;
    margin-top: 50px;
}
/* .photoshoot .container:hover{
    color: white;
    background-color: black;
    transition: 2s ease;
    padding: 20px;
    margin-bottom: 50px;
} */
.photoshoot h2{
    font-size: 40px;
    font-style: oblique;
    font-weight: bold;
}
.photoshoot p{
    font-size: 15px;
}
.photoshoot a{
    color: black;
}
.photoshoot a:hover{
    background-color: black;
    color: white;
}
.photoshoot img{
    margin-right: 100px;
}
.photoshoot img:hover{
    background-color: white;
    transition: 0.5s ease;
    padding: 4px;
}
/* .photoshoot img:hover{
    background-color: white;
    transition: 2s ease-out;
    padding: 20px;
} */
.aboutme{
    /* margin: 290px; */
    margin-left: 280px;
    margin-right: 290px;
    margin-top: 100px;
    margin-bottom: 100px;
    border: black;
    border-style: solid;
    color: black;
    padding: 10px;
}
.aboutme:hover{
    border: black;
    border-style: solid;
    transition: 2s ease;
    padding: 10px;
}
.aboutme .container{
    display: flex;
    /* margin-left: 80px;
    margin-right: 80px; */
}
.aboutme .foto3{
    margin-left: 15px;
    border: black;
    border-style: solid;
    padding: 2px;
}
.aboutme .foto3:hover{
    border: black;
    border-style: dotted;
    padding: 2px;
}
.aboutme .foto4{
    margin-left: 20px;
    margin-top: 20px;
    border: black;
    border-style: solid;
    padding: 2px;
}
.aboutme .foto4:hover{
    border: black;
    border-style: dotted;
    padding: 2px;
}
.aboutme .foto5{
    margin-left: 15px;
    margin-top: 20px;
    border: black;
    border-style: solid;
    padding: 2px;
}
.aboutme .foto5:hover{
    border: black;
    border-style: dotted;
    padding: 2px;
}
.aboutme .foto6{
    margin-left: 20px;
    border: black;
    border-style: solid;
    padding: 2px;
}
.aboutme .foto6:hover{
    border: black;
    border-style: dotted;
    padding: 2px;
}
.aboutme .text{
    /* margin-left: 80px;
    margin-right: 80px; */
    margin-top: 20px;
    display: flex;
    border: black;
    border-style: solid;
    padding: 2px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}
.aboutme .text:hover{
    border: black;
    border-style: dotted;
    padding: 2px;
}
.aboutme h2{
    flex: 1;
    font-size: 60px;
    margin-left: 25px;
}
.aboutme p{
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 25px;
    text-align: justify;
    font-family: serif;
}
.footer{
 background-color: black;
 color: white;
 height: 200px;
 text-align: center;
}
.footer .container{
    padding-top: 60px;
}
.footer h3{
    font-size: 20px;
    font-weight: lighter;
}
.footer p{
    font-weight: bold;
    font-size: 15px;
}
.footer .container:hover{
    color: lightpink;
    transition: 0.5s;
}
.footer a{
    color: white;
    text-decoration: none;
}
.footer a:hover{
    color: lightpink;
    transform: translateY(-10px);
    transition: 0.5s;
    font-size: 20px;
}